/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/rgb.h>

// Uncomment this block if using RGB
&led_strip {
    // chain-length = <6>; // Uncomment if using only underglow LEDs
    chain-length = <35>; // Uncomment if using both per-key and underglow LEDs
    // chain-length = <29>; // Uncomment if using only per-key LEDs.
};

/* Override CS GPIO for nice!view */
&nice_view_spi {
    // cs-gpios = <&gpio1 1 GPIO_ACTIVE_LOW>;   /* P1.01 == 101 */
    cs-gpios = <&gpio1 1 GPIO_ACTIVE_HIGH>;   /* P1.01 == 101 */
};

/ {

    behaviors {
        rgb_brightness_encoder: rgb_brightness_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_ug RGB_BRD>, <&rgb_ug RGB_BRI>; 
        };
        rgb_hue_encoder: rgb_hue_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&rgb_ug RGB_HUD>, <&rgb_ug RGB_HUI>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";
// ------------------------------------------------------------------------------------------------------------
// |  ESC   |  1   |  2   |  3   |  4   |  5   | /*NK*/ |  | /*NK*/|  6   |  7    |  8    |  9   |   0   |   `   |
// |  TAB   |  Q   |  W   |  E   |  R   |  T   | /*NK*/ |  | /*NK*/|  Y   |  U    |  I    |  O   |   P   |   -   |
// |  SHIFT |  A   |  S   |  D   |  F   |  G   | /*NK*/ |  | /*NK*/|  H   |  J    |  K    |  L   |   ;   |   '   |
// |  CTRL  |  Z   |  X   |  C   |  V   |  B   | RGB_TOG|  | PLAY  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
// | /*NK*/ |/*NK*/|SHIFT | ALT  | GUI  |LAYER1|  SPACE |  | ENTER |LAYER2| BSPC  | RALT  | RALT |/*NK*/ |/*NK*/ |
            bindings = <
&kp ESC   &kp N1 &kp N2    &kp N3   &kp N4   &kp N5 /*NK*/           /* */  /*NK*/           &kp N6 &kp N7   &kp N8    &kp N9   &kp N0   &kp GRAVE
&kp TAB   &kp Q  &kp W     &kp E    &kp R    &kp T  /*NK*/           /* */  /*NK*/           &kp Y  &kp U    &kp I     &kp O    &kp P    &kp MINUS
&kp LSHFT &kp A  &kp S     &kp D    &kp F    &kp G  /*NK*/           /* */  /*NK*/           &kp H  &kp J    &kp K     &kp L    &kp SEMI &kp SQT
&kp LCTRL &kp Z  &kp X     &kp C    &kp V    &kp B  &rgb_ug RGB_TOG  /* */  &kp C_PLAY_PAUSE &kp N  &kp M    &kp COMMA &kp DOT  &kp FSLH &kp RSHFT
/*NK*/    /*NK*/ &kp LSHFT &kp LALT &kp LGUI &mo 1  &kp SPACE        /* */  &kp RET          &mo 2  &kp BSPC &kp RALT  &kp RALT /*NK*/   /*NK*/
            >;

            sensor-bindings = <&rgb_hue_encoder    &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        layer_1 {
            display-name = "Layer 1";
// ------------------------------------------------------------------------------------------------------------
// | GRAVE  | F1   | F2   |  F3  |  F4  |  F5  | /*NK*/ |  | /*NK*/|  F6  |  F7   |  F8   |  F9  |  F10  |  F11  |
// |        |      |      |      |  {   |  <   | /*NK*/ |  | /*NK*/|  >   |  }    |       |      |       |  F12  |
// |        |  !   |  @   |  #   |  (   |  [   | /*NK*/ |  | /*NK*/|  ]   |  )    |  *    |  (   |   )   |   ~   |
// |        |      |      |      |  [   |  ]   |        |  |       |      |  -    |  +    |  {   |   }   |  "|"|  |
// | /*NK*/ |/*NK*/| mo3  |      |      |      |        |  |       | mo3  | DEL   |       |      |/*NK*/ |/*NK*/ |
            bindings = <
&kp GRAVE   &kp F1              &kp F2              &kp F3              &kp F4          &kp F5          /*NK*/  /* */  /*NK*/    &kp F6     &kp F7      &kp F8      &kp F9      &kp F10     &kp F11
&trans      &trans              &trans              &trans              &kp LBRC        &kp LT          /*NK*/  /* */  /*NK*/    &kp GT     &kp RBRC    &trans      &trans      &trans      &kp F12
&trans      &kp EXCL            &kp AT              &kp HASH            &kp LPAR        &kp LBKT        /*NK*/  /* */  /*NK*/    &kp RBKT   &kp RPAR    &kp STAR    &kp LPAR    &kp RPAR    &kp TILDE
&trans      &trans              &trans              &trans              &kp LBKT        &kp RBKT        &trans  /* */  &trans    &trans     &kp MINUS   &kp PLUS    &kp LBRC    &kp RBRC    &kp PIPE
/*NK*/      /*NK*/              &mo 3               &trans              &trans          &trans          &trans  /* */  &trans    &mo 3      &kp DEL     &trans      &trans      /*NK*/      /*NK*/ 
            >;

            sensor-bindings = <&rgb_brightness_encoder    &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        layer_2 {
            display-name = "Layer 2";
// ------------------------------------------------------------------------------------------------------------
// |        |      |      | PREV |  PP  | NEXT | /*NK*/ |  | /*NK*/|      |       |       |      |       | PSCRN |
// |        |  1   |  2   |  3   |  4   |  5   | /*NK*/ |  | /*NK*/|  6   |   7   |   8   |  9   |   0   |       |
// |        |      |      |      |      |      | /*NK*/ |  | /*NK*/|      |   <-  |   v   |  ^   |  ->   |       |
// |        |      |      |      |      |      |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
// | /*NK*/ |/*NK*/|      |      |      | mo3  |        |  |       |      | DEL   |       |      |/*NK*/ |/*NK*/ |
            bindings = <
&trans      &trans  &trans &kp C_PREV &kp C_PP &kp C_NEXT  /*NK*/  /* */  /*NK*/    &trans       &trans    &trans    &trans   &trans    &kp PSCRN
&trans      &kp N1  &kp N2 &kp N3     &kp N4   &kp N5      /*NK*/  /* */  /*NK*/    &kp N6       &kp N7    &kp N8    &kp N9   &kp N0    &trans
&trans      &trans  &trans &trans     &trans   &trans      /*NK*/  /* */  /*NK*/    &trans       &kp LEFT  &kp DOWN  &kp UP   &kp RIGHT &trans
&trans      &trans  &trans &trans     &trans   &trans      &trans  /* */  &trans    &kp KP_PLUS  &kp MINUS &kp EQUAL &kp LBKT &kp RBKT  &kp BSLH
/*NK*/      /*NK*/  &trans &trans     &trans   &mo 3       &trans  /* */  &trans    &trans       &kp DEL   &trans    &trans   /*NK*/    /*NK*/ 
            >;

            sensor-bindings = <&rgb_brightness_encoder    &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        layer_3 {
            display-name = "Layer 3";
// ------------------------------------------------------------------------------------------------------------
// | BT_CLR | BT0  | BT1 |  BT2 |  BT3 |  BT4 | /*NK*/ |  | /*NK*/|      |       |       |      |       |       |
// | UNLOCK |      |     |      |      |      | /*NK*/ |  | /*NK*/|      |       |       |      |       |       |
// |        |      |     |      |      |      | /*NK*/ |  | /*NK*/|      | PG_DN | PG_UP |      |       |       |
// |        |EP_ON |EP_OF|EP_TOG|      |      |        |  |       |      |       |       |      |       |       |
// | /*NK*/ |/*NK*/|     |      |      |      | BT_CLR |  |       |      |       |       |      |/*NK*/ |/*NK*/ |
            bindings = <
&bt BT_CLR      &bt BT_SEL 0        &bt BT_SEL 1        &bt BT_SEL 2        &bt BT_SEL 3    &bt BT_SEL 4    /*NK*/      /* */  /*NK*/    &trans     &trans     &trans     &trans  &trans  &trans
&studio_unlock  &trans              &trans              &trans              &trans          &trans          /*NK*/      /* */  /*NK*/    &trans     &trans     &trans     &trans  &trans  &trans
&trans          &trans              &trans              &trans              &trans          &trans          /*NK*/      /* */  /*NK*/    &trans     &kp PG_DN  &kp PG_UP  &trans  &trans  &trans
&trans          &ext_power EP_ON    &ext_power EP_OFF   &ext_power EP_TOG   &trans          &trans          &trans      /* */  &trans    &trans     &trans     &trans     &trans  &trans  &trans
/*NK*/          /*NK*/              &trans              &trans              &trans          &trans          &bt BT_CLR  /* */  &trans    &trans     &trans     &trans     &trans  /*NK*/  /*NK*/ 
            >;

            sensor-bindings = <&rgb_brightness_encoder    &inc_dec_kp C_VOL_DN C_VOL_UP>;
        };
    };
};

// &bt BT_CLR &bt BT_SEL 0     &bt BT_SEL 1      &bt BT_SEL 2      &bt BT_SEL 3   &bt BT_SEL 4
